<div>
    <header>
        <div class="row intro">
            <div class="col-lg-12">
                <img src="assets/img/king_shan.jpg" />
                <h1>
                    Welcome to the planet of Lengaburu
                </h1>
                <p>
                    After the recent war with neighbouring planet Falicornia, King Shan has exiled the Queen of
                    Falicornia for
                    15 years.Queen Al Falcone is now in hiding. But if King Shan can find her before the years are up,
                    she will
                    be exiled for another 15 years....
                </p>
                <p>
                    King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets - DonLon,
                    Enchai,
                    Jebing, Sapir, Lerbin & Pingasor. However he has limited resources at his disposal & can send his
                    army to
                    only 4 of these planets. Your task is to help King Shan find Al Falcone.
                </p>
            </div>
            <button routerLink="/find-falcon" type="button" class="btn btn-primary">
                Help King Shan find Al Falcone
            </button>
        </div>

    </header>

</div>