/* You can add global styles to this file, and also import other style files */
body {
    //background-image: url("src/assets/img/bg.gif");
    background: white;
}

.drop-down-menu {
    min-width: 100%;
    text-align: center;
}

li {
    cursor: pointer;
  }